body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 4em;
}

header {
    background-color: #4c90af;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.1em;
}

nav {
    display: flex;
    justify-content:flex-end
    background-color: #4c90af;
    padding: 0.5em;
}

nav a {
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container h2 {
    color: blue;
    font-size: 30px;
    margin-bottom: 15px;
}

ul {
    font-size: 26px;
    list-style: none;
    padding: 0;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    
}

li {
    margin-bottom: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}